html,
body {
  font-family: 'Maven Pro', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}

.content-wrapper {
  height: 100%;
}

.raider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.raider-card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
  width: 35rem;
  background-color: #2f2f2f;
  color: white;
  margin: 1rem;

  img {
    height: 5rem;
    width: 5rem;
    border: 15px solid rgba(black, 0.3);
  }

  transition: 0.15s;
}

.raider-title {
  font-size: 3rem;
}

.raider-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lemgth {
  height: 25rem;
}

// Page Wrapper

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2f2f2f;
  box-sizing: border-box;
  background: transparent url(../assets/png/bkg.png) 0% 0% no-repeat padding-box;
  position: relative;
  overflow: hidden;
}

.page-filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #5c148c, #f2c12e);
  opacity: 0.3;
  z-index: 1;
}

.navigation,
.footer {
  position: relative;
  z-index: 2;
}

// Navigation

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #2f2f2f;
  color: white;

  height: 3.75rem;
}

.nav-header,
.nav-items {
  display: flex;

  p,
  a {
    font-size: 1.25rem;
    margin: 0 2rem;
    transition: 0.15s;
    color: white;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: blue;
    }
  }

  h1 {
    font-size: 1.75rem;
  }
}

// Footer

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #2f2f2f;

  font-size: 0.75rem;

  height: 2.5rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  p {
    padding: 0.5rem;
  }
}

// Jumbo

.jumbo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

.jumbo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(white, 0.5);
  font-size: 3rem;
  height: 75%;
  width: 55%;
}
